{% extends 'recepcion/dashboard.html' %}
{% load static %}
{% block titulo %} Busqueda {% endblock %}
{% block body %}
   <div class="container">
   <fieldset style="border-radius: 1%; margin-bottom: 1em; border-style: solid; border-color: #ACACAC">
    <legend><h6>Criterios de busqueda</h6></legend>
    <div class="row">
    <form class="col s12" method="GET" action="{% url 'recepcion:search' %}" id="search-ficha">

      <div class="row">
        <div class="input-field col s4">
          <input  type="text" name="fecha" class="datepicker" id="fecha">
          <label for="fecha" class="red-text">Fecha</label>
        </div>
        <div class="input-field col s4">
            <input  type="text" name="dui" id="dui" data-inputmask="'mask': '99999999-9'">
            <label for="dui" class="red-text">Dui</label>
        </div>
        <div class="input-field col s4">
            <input  type="text" name="ap" id="ap">
            <label for="ap" class="red-text">AP</label>
        </div>
      </div>

        <button class="btn waves-effect blue" type="submit" value="buscar">Buscar
                    <i class="material-icons right">search</i>
        </button>

    </form>
   </div>
             </fieldset>
 </div>


<div class="container">
    <table class="highlight">
        <thead class="blue">
            <tr class="white-text">
                <th>Solicitante</th>
                <th>Empresa</th>
                <th>AP</th>
                <th>Evaluado</th>
                <th>Resultado</th>
            </tr>
        </thead>
    <tbody id="datos">
    </tbody>
    </table>
</div>

{% endblock  %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>


    <script type="text/javascript">
	$(document).ready(function(){
	    $("#dui").inputmask();
	});
	</script>


    <script type="text/javascript">
	$(document).ready(function(){
	    $("#ap").inputmask();
	});
	</script>
{% endblock %}