{% extends 'default.html' %}
{% load static %}
{% block titulo %}Recuperar contraseña {% endblock %}
{% block body %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<body style="background-color: #c6c8ca">
<div class="container" >
    <div class="card" style="margin-top: 15%;">
  <div class="card-header">
    Recuperacion de contraseña
  </div>
  <div class="card-body">
    <h5 class="card-title"> Tu contraseña ha sido reestablecida exitosamente</h5>
    <p class="card-text">Ahora ya puedes iniciar sesion con tu nueva contraseña  </p>
    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesion</a>
  </div>
</div>
    </div>
    </body>
{% endblock %}