{% extends 'default.html' %}
{% load static %}
{% block titulo %}Recuperar contraseña
{% endblock %}


{% block body %}
 <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

<body style="background-color: #c6c8ca">
<div class="container" >
    <div class="card" style="margin-top: 15%;">
  <div class="card-header">
    Recuperacion de contraseña
  </div>
  <div class="card-body">
    <h5 class="card-title">Mensaje de recuperacion de contraseña</h5>
    <p class="card-text">Te hemos enviado un correo con un enlace para el reestablecimiento de tus credenciales </p>
    <a href="https://www.gmail.com/mail/help/intl/es/about.html?iframe" class="btn btn-primary">ver correo</a>
  </div>
</div>
    </div>
    </body>
{% endblock %}