{% extends 'default.html' %}
{% load static %}
{% block titulo %}Recuperar Contraseña {% endblock %}

{% block body %}
    <body class="backconf">
   <div class="container">
        <h1 class="center-align">Recuperacion de contraseña</h1>
       <p class=" center-align">Si has olvidado tu contraseña completa el formulario de recuperacion</p>
       <div class="class_container_form_rec">
        <form method="post">
        {% csrf_token %}
        <div align="center" style="margin-bottom: 2em;">
            <img src="{% static 'img/olvidado.png' %}" width="30%" height="30%">
        </div>


         <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <label for="icon_prefix2">Ingrese el correo de recuperacion ...</label>
        {{ form.email }}
        </div>
      </div>

        <div class="right-align">
        <input class="btn blue" type="submit" value="Recuperar contraseña">
        </div>
    </form>
    </div>
       </div>
</body>
{% endblock %}
